
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand col-md-5" href="#">Shoppiee</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav "style="margin-left: auto;">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        

      </ul>
      <ul class="navbar-nav" >
        <!-- Use ml-auto to align to the right -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >{{#if user}}
           {{user.name}}
           {{else}}
            Account
            {{/if}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            
            
            {{#if user}}
           <a class="dropdown-item" href="/logout">Logout</a>
           {{else}}
            <a class="dropdown-item" href="/login">Login</a>
            {{/if}}</a>

          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>